In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df = pd.read_csv("../data/csv/title_genres.csv", delimiter=",")

In [5]:
df.head()

,title,action,drama,fantasy,mystery,action drama,adventure,excessive violence,horror,psychological drama,...,friendship,erotica,magic,food,shoujo ai,law,work life,award winning,doujinshi,mahou shounen
0,attack on titan,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,death note,0,1,1,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,my hero academia,1,1,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,demon slayer kimetsu no yaiba,1,1,1,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,hunter x hunter 2011,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [79]:
df.columns

Index(['title', 'action', 'drama', 'fantasy', 'mystery', 'action drama',
       'adventure', 'excessive violence', 'horror', 'psychological drama',
       'supernatural drama', 'military', 'shounen', 'super power',
       'psychological', 'supernatural', 'thriller', 'crime fiction', 'police',
       'suspense', 'comedy', 'action comedy', 'fighting-shounen', 'ganbatte',
       'school', 'demons', 'historical', 'sci-fi', 'science-fiction', 'parody',
       'romance', 'game', 'seinen', 'ghost stories', 'martial arts',
       'slice of life', 'sentimental drama', 'music', 'sports', 'ecchi',
       'romantic comedy', 'harem', 'mecha', 'vampire', 'gourmet',
       'avant garde', 'samurai', 'shoujo', 'mahou shoujo', 'magical girl',
       'nonsense-comedy', 'slice of life drama', 'boys love', 'romantic drama',
       'dementia', 'eroticism', 'girls love', 'kids', 'indefinite', 'josei',
       'space', 'cars', 'cooking', 'racing', 'crime', 'mature', 'medical',
       'gore', 'gender bender', 'hentai', 'zombies', 'youth', 'yuri',
       'anime influenced', 'tragedy', 'documentary', 'family', 'political',
       'workplace', 'yaoi', 'shounen ai', 'isekai', 'tokusatsu', 'friendship',
       'erotica', 'magic', 'food', 'shoujo ai', 'law', 'work life',
       'award winning', 'doujinshi', 'mahou shounen'],
      dtype='object')

# Action drama is redundant

In [80]:
df[(df["action drama"] == 1) & (df["action"] == 0)]

Empty DataFrame
Columns: [title, action, drama, fantasy, mystery, action drama, adventure, excessive violence, horror, psychological drama, supernatural drama, military, shounen, super power, psychological, supernatural, thriller, crime fiction, police, suspense, comedy, action comedy, fighting-shounen, ganbatte, school, demons, historical, sci-fi, science-fiction, parody, romance, game, seinen, ghost stories, martial arts, slice of life, sentimental drama, music, sports, ecchi, romantic comedy, harem, mecha, vampire, gourmet, avant garde, samurai, shoujo, mahou shoujo, magical girl, nonsense-comedy, slice of life drama, boys love, romantic drama, dementia, eroticism, girls love, kids, indefinite, josei, space, cars, cooking, racing, crime, mature, medical, gore, gender bender, hentai, zombies, youth, yuri, anime influenced, tragedy, documentary, family, political, workplace, yaoi, shounen ai, isekai, tokusatsu, friendship, erotica, magic, food, shoujo ai, law, work life, award winning, doujinshi, mahou shounen]
Index: []

[0 rows x 93 columns]

In [81]:
df[(df["action drama"] == 1) & (df["drama"] == 0)]

Empty DataFrame
Columns: [title, action, drama, fantasy, mystery, action drama, adventure, excessive violence, horror, psychological drama, supernatural drama, military, shounen, super power, psychological, supernatural, thriller, crime fiction, police, suspense, comedy, action comedy, fighting-shounen, ganbatte, school, demons, historical, sci-fi, science-fiction, parody, romance, game, seinen, ghost stories, martial arts, slice of life, sentimental drama, music, sports, ecchi, romantic comedy, harem, mecha, vampire, gourmet, avant garde, samurai, shoujo, mahou shoujo, magical girl, nonsense-comedy, slice of life drama, boys love, romantic drama, dementia, eroticism, girls love, kids, indefinite, josei, space, cars, cooking, racing, crime, mature, medical, gore, gender bender, hentai, zombies, youth, yuri, anime influenced, tragedy, documentary, family, political, workplace, yaoi, shounen ai, isekai, tokusatsu, friendship, erotica, magic, food, shoujo ai, law, work life, award winning, doujinshi, mahou shounen]
Index: []

[0 rows x 93 columns]

In [82]:
df.drop("action drama", axis=1, inplace=True)

In [83]:
df.head()

,title,action,drama,fantasy,mystery,adventure,excessive violence,horror,psychological drama,supernatural drama,...,friendship,erotica,magic,food,shoujo ai,law,work life,award winning,doujinshi,mahou shounen
0,attack on titan,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,death note,0,1,1,1,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,my hero academia,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,demon slayer kimetsu no yaiba,1,1,1,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,hunter x hunter 2011,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Genres with too few anime

In [84]:
to_be_dropped = []
for column in df.columns:
    if len(df[(df[column] == 1)]) <= 3 and column != "title":
        to_be_dropped.append(column)

In [85]:
len(to_be_dropped)

30

In [86]:
print(to_be_dropped)

['dementia', 'cooking', 'racing', 'crime', 'mature', 'medical', 'gore', 'gender bender', 'zombies', 'youth', 'yuri', 'anime influenced', 'tragedy', 'documentary', 'family', 'political', 'workplace', 'yaoi', 'shounen ai', 'isekai', 'tokusatsu', 'friendship', 'magic', 'food', 'shoujo ai', 'law', 'work life', 'award winning', 'doujinshi', 'mahou shounen']

In [87]:
df.drop(to_be_dropped, axis=1, inplace=True)

In [88]:
df.head(10)

,title,action,drama,fantasy,mystery,adventure,excessive violence,horror,psychological drama,supernatural drama,...,romantic drama,eroticism,girls love,kids,indefinite,josei,space,cars,hentai,erotica
0,attack on titan,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,death note,0,1,1,1,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,my hero academia,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,demon slayer kimetsu no yaiba,1,1,1,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,hunter x hunter 2011,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,onepunch man,1,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,sword art online,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,tokyo ghoul,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
8,jujutsu kaisen,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,fullmetal alchemist brotherhood,1,1,1,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
df.columns

Index(['title', 'action', 'drama', 'fantasy', 'mystery', 'adventure',
       'excessive violence', 'horror', 'psychological drama',
       'supernatural drama', 'military', 'shounen', 'super power',
       'psychological', 'supernatural', 'thriller', 'crime fiction', 'police',
       'suspense', 'comedy', 'action comedy', 'fighting-shounen', 'ganbatte',
       'school', 'demons', 'historical', 'sci-fi', 'science-fiction', 'parody',
       'romance', 'game', 'seinen', 'ghost stories', 'martial arts',
       'slice of life', 'sentimental drama', 'music', 'sports', 'ecchi',
       'romantic comedy', 'harem', 'mecha', 'vampire', 'gourmet',
       'avant garde', 'samurai', 'shoujo', 'mahou shoujo', 'magical girl',
       'nonsense-comedy', 'slice of life drama', 'boys love', 'romantic drama',
       'eroticism', 'girls love', 'kids', 'indefinite', 'josei', 'space',
       'cars', 'hentai', 'erotica'],
      dtype='object')

# Repeated Attributes

## Magical girl

In [90]:
len(df[(df["magical girl"] == 1)])

449

In [91]:
len(df[(df["mahou shoujo"] == 1)])

341

In [92]:
len(df[(df["magical girl"] == 1) & (df["mahou shoujo"] == 1)])

122

In [93]:
new_col = np.logical_or(df["magical girl"], df["mahou shoujo"])

In [94]:
df["magical_girl"] = new_col

In [95]:
len(df[(df["magical_girl"] == 1)])

668

In [96]:
df.drop(["magical girl", "mahou shoujo"], axis=1, inplace=True)

In [97]:
df.head()

,title,action,drama,fantasy,mystery,adventure,excessive violence,horror,psychological drama,supernatural drama,...,eroticism,girls love,kids,indefinite,josei,space,cars,hentai,erotica,magical_girl
0,attack on titan,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,False
1,death note,0,1,1,1,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,False
2,my hero academia,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
3,demon slayer kimetsu no yaiba,1,1,1,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,False
4,hunter x hunter 2011,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False

In [98]:
df.columns

Index(['title', 'action', 'drama', 'fantasy', 'mystery', 'adventure',
       'excessive violence', 'horror', 'psychological drama',
       'supernatural drama', 'military', 'shounen', 'super power',
       'psychological', 'supernatural', 'thriller', 'crime fiction', 'police',
       'suspense', 'comedy', 'action comedy', 'fighting-shounen', 'ganbatte',
       'school', 'demons', 'historical', 'sci-fi', 'science-fiction', 'parody',
       'romance', 'game', 'seinen', 'ghost stories', 'martial arts',
       'slice of life', 'sentimental drama', 'music', 'sports', 'ecchi',
       'romantic comedy', 'harem', 'mecha', 'vampire', 'gourmet',
       'avant garde', 'samurai', 'shoujo', 'nonsense-comedy',
       'slice of life drama', 'boys love', 'romantic drama', 'eroticism',
       'girls love', 'kids', 'indefinite', 'josei', 'space', 'cars', 'hentai',
       'erotica', 'magical_girl'],
      dtype='object')

## Sci-Fi

In [99]:
len(df[(df["sci-fi"] == 1)])

3387

In [100]:
len(df[(df["science-fiction"] == 1)])

2546

In [101]:
len(df[(df["science-fiction"] == 1) & (df["sci-fi"] == 1)])

1345

In [102]:
df["science fiction"] = np.logical_or(df["sci-fi"], df["science-fiction"])

In [103]:
len(df[(df["science fiction"] == 1)])

4588

In [104]:
df.drop(["sci-fi", "science-fiction"], axis=1, inplace=True)

In [105]:
df.head()

,title,action,drama,fantasy,mystery,adventure,excessive violence,horror,psychological drama,supernatural drama,...,girls love,kids,indefinite,josei,space,cars,hentai,erotica,magical_girl,science fiction
0,attack on titan,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,False,False
1,death note,0,1,1,1,0,0,1,1,1,...,0,0,0,0,0,0,0,0,False,False
2,my hero academia,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,False,False
3,demon slayer kimetsu no yaiba,1,1,1,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,False,False
4,hunter x hunter 2011,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,False,False

In [106]:
df.columns

Index(['title', 'action', 'drama', 'fantasy', 'mystery', 'adventure',
       'excessive violence', 'horror', 'psychological drama',
       'supernatural drama', 'military', 'shounen', 'super power',
       'psychological', 'supernatural', 'thriller', 'crime fiction', 'police',
       'suspense', 'comedy', 'action comedy', 'fighting-shounen', 'ganbatte',
       'school', 'demons', 'historical', 'parody', 'romance', 'game', 'seinen',
       'ghost stories', 'martial arts', 'slice of life', 'sentimental drama',
       'music', 'sports', 'ecchi', 'romantic comedy', 'harem', 'mecha',
       'vampire', 'gourmet', 'avant garde', 'samurai', 'shoujo',
       'nonsense-comedy', 'slice of life drama', 'boys love', 'romantic drama',
       'eroticism', 'girls love', 'kids', 'indefinite', 'josei', 'space',
       'cars', 'hentai', 'erotica', 'magical_girl', 'science fiction'],
      dtype='object')

## Erotic

In [107]:
df["erotic"] = np.logical_or(df["eroticism"], df["erotica"])

In [108]:
df.drop(["eroticism", "erotica"], axis=1, inplace=True)

In [109]:
df.columns

Index(['title', 'action', 'drama', 'fantasy', 'mystery', 'adventure',
       'excessive violence', 'horror', 'psychological drama',
       'supernatural drama', 'military', 'shounen', 'super power',
       'psychological', 'supernatural', 'thriller', 'crime fiction', 'police',
       'suspense', 'comedy', 'action comedy', 'fighting-shounen', 'ganbatte',
       'school', 'demons', 'historical', 'parody', 'romance', 'game', 'seinen',
       'ghost stories', 'martial arts', 'slice of life', 'sentimental drama',
       'music', 'sports', 'ecchi', 'romantic comedy', 'harem', 'mecha',
       'vampire', 'gourmet', 'avant garde', 'samurai', 'shoujo',
       'nonsense-comedy', 'slice of life drama', 'boys love', 'romantic drama',
       'girls love', 'kids', 'indefinite', 'josei', 'space', 'cars', 'hentai',
       'magical_girl', 'science fiction', 'erotic'],
      dtype='object')

# Redundant attributes

## slice of life drama

In [110]:
df[(df["slice of life drama"] == 1) & (df["slice of life"] == 0)]

,title,action,drama,fantasy,mystery,adventure,excessive violence,horror,psychological drama,supernatural drama,...,girls love,kids,indefinite,josei,space,cars,hentai,magical_girl,science fiction,erotic
1505,tekkonkinkreet,1,1,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,False,True,False
17101,glass eye,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,False,False,False

In [111]:
df[(df["slice of life drama"] == 1) & (df["drama"] == 0)]

Empty DataFrame
Columns: [title, action, drama, fantasy, mystery, adventure, excessive violence, horror, psychological drama, supernatural drama, military, shounen, super power, psychological, supernatural, thriller, crime fiction, police, suspense, comedy, action comedy, fighting-shounen, ganbatte, school, demons, historical, parody, romance, game, seinen, ghost stories, martial arts, slice of life, sentimental drama, music, sports, ecchi, romantic comedy, harem, mecha, vampire, gourmet, avant garde, samurai, shoujo, nonsense-comedy, slice of life drama, boys love, romantic drama, girls love, kids, indefinite, josei, space, cars, hentai, magical_girl, science fiction, erotic]
Index: []

[0 rows x 59 columns]

In [112]:
df.drop("slice of life drama", axis=1, inplace=True)

In [113]:
df.head()

,title,action,drama,fantasy,mystery,adventure,excessive violence,horror,psychological drama,supernatural drama,...,girls love,kids,indefinite,josei,space,cars,hentai,magical_girl,science fiction,erotic
0,attack on titan,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,False,False,False
1,death note,0,1,1,1,0,0,1,1,1,...,0,0,0,0,0,0,0,False,False,False
2,my hero academia,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,False,False,False
3,demon slayer kimetsu no yaiba,1,1,1,0,1,1,1,0,0,...,0,0,0,0,0,0,0,False,False,False
4,hunter x hunter 2011,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,False,False,False

In [114]:
df.columns

Index(['title', 'action', 'drama', 'fantasy', 'mystery', 'adventure',
       'excessive violence', 'horror', 'psychological drama',
       'supernatural drama', 'military', 'shounen', 'super power',
       'psychological', 'supernatural', 'thriller', 'crime fiction', 'police',
       'suspense', 'comedy', 'action comedy', 'fighting-shounen', 'ganbatte',
       'school', 'demons', 'historical', 'parody', 'romance', 'game', 'seinen',
       'ghost stories', 'martial arts', 'slice of life', 'sentimental drama',
       'music', 'sports', 'ecchi', 'romantic comedy', 'harem', 'mecha',
       'vampire', 'gourmet', 'avant garde', 'samurai', 'shoujo',
       'nonsense-comedy', 'boys love', 'romantic drama', 'girls love', 'kids',
       'indefinite', 'josei', 'space', 'cars', 'hentai', 'magical_girl',
       'science fiction', 'erotic'],
      dtype='object')

## Action comedy

In [115]:
df[(df["action comedy"] == 1) & (df["action"] == 0)]

Empty DataFrame
Columns: [title, action, drama, fantasy, mystery, adventure, excessive violence, horror, psychological drama, supernatural drama, military, shounen, super power, psychological, supernatural, thriller, crime fiction, police, suspense, comedy, action comedy, fighting-shounen, ganbatte, school, demons, historical, parody, romance, game, seinen, ghost stories, martial arts, slice of life, sentimental drama, music, sports, ecchi, romantic comedy, harem, mecha, vampire, gourmet, avant garde, samurai, shoujo, nonsense-comedy, boys love, romantic drama, girls love, kids, indefinite, josei, space, cars, hentai, magical_girl, science fiction, erotic]
Index: []

[0 rows x 58 columns]

In [116]:
df[(df["action comedy"] == 1) & (df["comedy"] == 0)]

Empty DataFrame
Columns: [title, action, drama, fantasy, mystery, adventure, excessive violence, horror, psychological drama, supernatural drama, military, shounen, super power, psychological, supernatural, thriller, crime fiction, police, suspense, comedy, action comedy, fighting-shounen, ganbatte, school, demons, historical, parody, romance, game, seinen, ghost stories, martial arts, slice of life, sentimental drama, music, sports, ecchi, romantic comedy, harem, mecha, vampire, gourmet, avant garde, samurai, shoujo, nonsense-comedy, boys love, romantic drama, girls love, kids, indefinite, josei, space, cars, hentai, magical_girl, science fiction, erotic]
Index: []

[0 rows x 58 columns]

In [117]:
df.drop("action comedy", axis=1, inplace=True)

In [118]:
df.head()

,title,action,drama,fantasy,mystery,adventure,excessive violence,horror,psychological drama,supernatural drama,...,girls love,kids,indefinite,josei,space,cars,hentai,magical_girl,science fiction,erotic
0,attack on titan,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,False,False,False
1,death note,0,1,1,1,0,0,1,1,1,...,0,0,0,0,0,0,0,False,False,False
2,my hero academia,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,False,False,False
3,demon slayer kimetsu no yaiba,1,1,1,0,1,1,1,0,0,...,0,0,0,0,0,0,0,False,False,False
4,hunter x hunter 2011,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,False,False,False

In [119]:
df.columns

Index(['title', 'action', 'drama', 'fantasy', 'mystery', 'adventure',
       'excessive violence', 'horror', 'psychological drama',
       'supernatural drama', 'military', 'shounen', 'super power',
       'psychological', 'supernatural', 'thriller', 'crime fiction', 'police',
       'suspense', 'comedy', 'fighting-shounen', 'ganbatte', 'school',
       'demons', 'historical', 'parody', 'romance', 'game', 'seinen',
       'ghost stories', 'martial arts', 'slice of life', 'sentimental drama',
       'music', 'sports', 'ecchi', 'romantic comedy', 'harem', 'mecha',
       'vampire', 'gourmet', 'avant garde', 'samurai', 'shoujo',
       'nonsense-comedy', 'boys love', 'romantic drama', 'girls love', 'kids',
       'indefinite', 'josei', 'space', 'cars', 'hentai', 'magical_girl',
       'science fiction', 'erotic'],
      dtype='object')

## Romantic comedy

In [120]:
df[(df["romantic comedy"] == 1) & (df["comedy"] == 0)]

Empty DataFrame
Columns: [title, action, drama, fantasy, mystery, adventure, excessive violence, horror, psychological drama, supernatural drama, military, shounen, super power, psychological, supernatural, thriller, crime fiction, police, suspense, comedy, fighting-shounen, ganbatte, school, demons, historical, parody, romance, game, seinen, ghost stories, martial arts, slice of life, sentimental drama, music, sports, ecchi, romantic comedy, harem, mecha, vampire, gourmet, avant garde, samurai, shoujo, nonsense-comedy, boys love, romantic drama, girls love, kids, indefinite, josei, space, cars, hentai, magical_girl, science fiction, erotic]
Index: []

[0 rows x 57 columns]

In [121]:
df[(df["romantic comedy"] == 1) & (df["romance"] == 0)]

Empty DataFrame
Columns: [title, action, drama, fantasy, mystery, adventure, excessive violence, horror, psychological drama, supernatural drama, military, shounen, super power, psychological, supernatural, thriller, crime fiction, police, suspense, comedy, fighting-shounen, ganbatte, school, demons, historical, parody, romance, game, seinen, ghost stories, martial arts, slice of life, sentimental drama, music, sports, ecchi, romantic comedy, harem, mecha, vampire, gourmet, avant garde, samurai, shoujo, nonsense-comedy, boys love, romantic drama, girls love, kids, indefinite, josei, space, cars, hentai, magical_girl, science fiction, erotic]
Index: []

[0 rows x 57 columns]

In [122]:
df.drop("romantic comedy", axis=1, inplace=True)

In [123]:
df.columns

Index(['title', 'action', 'drama', 'fantasy', 'mystery', 'adventure',
       'excessive violence', 'horror', 'psychological drama',
       'supernatural drama', 'military', 'shounen', 'super power',
       'psychological', 'supernatural', 'thriller', 'crime fiction', 'police',
       'suspense', 'comedy', 'fighting-shounen', 'ganbatte', 'school',
       'demons', 'historical', 'parody', 'romance', 'game', 'seinen',
       'ghost stories', 'martial arts', 'slice of life', 'sentimental drama',
       'music', 'sports', 'ecchi', 'harem', 'mecha', 'vampire', 'gourmet',
       'avant garde', 'samurai', 'shoujo', 'nonsense-comedy', 'boys love',
       'romantic drama', 'girls love', 'kids', 'indefinite', 'josei', 'space',
       'cars', 'hentai', 'magical_girl', 'science fiction', 'erotic'],
      dtype='object')

## romantic drama

In [124]:
df[(df["romantic drama"] == 1) & (df["romance"] == 0)]

Empty DataFrame
Columns: [title, action, drama, fantasy, mystery, adventure, excessive violence, horror, psychological drama, supernatural drama, military, shounen, super power, psychological, supernatural, thriller, crime fiction, police, suspense, comedy, fighting-shounen, ganbatte, school, demons, historical, parody, romance, game, seinen, ghost stories, martial arts, slice of life, sentimental drama, music, sports, ecchi, harem, mecha, vampire, gourmet, avant garde, samurai, shoujo, nonsense-comedy, boys love, romantic drama, girls love, kids, indefinite, josei, space, cars, hentai, magical_girl, science fiction, erotic]
Index: []

[0 rows x 56 columns]

In [125]:
df[(df["romantic drama"] == 1) & (df["drama"] == 0)]

Empty DataFrame
Columns: [title, action, drama, fantasy, mystery, adventure, excessive violence, horror, psychological drama, supernatural drama, military, shounen, super power, psychological, supernatural, thriller, crime fiction, police, suspense, comedy, fighting-shounen, ganbatte, school, demons, historical, parody, romance, game, seinen, ghost stories, martial arts, slice of life, sentimental drama, music, sports, ecchi, harem, mecha, vampire, gourmet, avant garde, samurai, shoujo, nonsense-comedy, boys love, romantic drama, girls love, kids, indefinite, josei, space, cars, hentai, magical_girl, science fiction, erotic]
Index: []

[0 rows x 56 columns]

In [126]:
df.drop("romantic drama", axis=1, inplace=True)

In [127]:
df.columns

Index(['title', 'action', 'drama', 'fantasy', 'mystery', 'adventure',
       'excessive violence', 'horror', 'psychological drama',
       'supernatural drama', 'military', 'shounen', 'super power',
       'psychological', 'supernatural', 'thriller', 'crime fiction', 'police',
       'suspense', 'comedy', 'fighting-shounen', 'ganbatte', 'school',
       'demons', 'historical', 'parody', 'romance', 'game', 'seinen',
       'ghost stories', 'martial arts', 'slice of life', 'sentimental drama',
       'music', 'sports', 'ecchi', 'harem', 'mecha', 'vampire', 'gourmet',
       'avant garde', 'samurai', 'shoujo', 'nonsense-comedy', 'boys love',
       'girls love', 'kids', 'indefinite', 'josei', 'space', 'cars', 'hentai',
       'magical_girl', 'science fiction', 'erotic'],
      dtype='object')

In [129]:
df.shape

(30586, 55)

In [130]:
df.columns

Index(['title', 'action', 'drama', 'fantasy', 'mystery', 'adventure',
       'excessive violence', 'horror', 'psychological drama',
       'supernatural drama', 'military', 'shounen', 'super power',
       'psychological', 'supernatural', 'thriller', 'crime fiction', 'police',
       'suspense', 'comedy', 'fighting-shounen', 'ganbatte', 'school',
       'demons', 'historical', 'parody', 'romance', 'game', 'seinen',
       'ghost stories', 'martial arts', 'slice of life', 'sentimental drama',
       'music', 'sports', 'ecchi', 'harem', 'mecha', 'vampire', 'gourmet',
       'avant garde', 'samurai', 'shoujo', 'nonsense-comedy', 'boys love',
       'girls love', 'kids', 'indefinite', 'josei', 'space', 'cars', 'hentai',
       'magical_girl', 'science fiction', 'erotic'],
      dtype='object')

In [132]:
for column in df.columns:
    print(column, end=": ")
    print(len(df[df[column] == 1]))

title: 0
action: 8326
drama: 6092
fantasy: 6836
mystery: 1071
adventure: 6159
excessive violence: 591
horror: 851
psychological drama: 577
supernatural drama: 932
military: 598
shounen: 1977
super power: 650
psychological: 828
supernatural: 1971
thriller: 324
crime fiction: 268
police: 257
suspense: 149
comedy: 11605
fighting-shounen: 309
ganbatte: 698
school: 1685
demons: 523
historical: 1218
parody: 669
romance: 4268
game: 413
seinen: 850
ghost stories: 114
martial arts: 467
slice of life: 4442
sentimental drama: 111
music: 2953
sports: 1257
ecchi: 1850
harem: 913
mecha: 1877
vampire: 142
gourmet: 101
avant garde: 553
samurai: 206
shoujo: 693
nonsense-comedy: 342
boys love: 203
girls love: 306
kids: 3479
indefinite: 411
josei: 97
space: 506
cars: 144
hentai: 2059
magical_girl: 668
science fiction: 4588
erotic: 163

In [136]:
df.head()

,title,action,drama,fantasy,mystery,adventure,excessive violence,horror,psychological drama,supernatural drama,...,girls love,kids,indefinite,josei,space,cars,hentai,magical_girl,science fiction,erotic
0,attack on titan,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,False,False,False
1,death note,0,1,1,1,0,0,1,1,1,...,0,0,0,0,0,0,0,False,False,False
2,my hero academia,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,False,False,False
3,demon slayer kimetsu no yaiba,1,1,1,0,1,1,1,0,0,...,0,0,0,0,0,0,0,False,False,False
4,hunter x hunter 2011,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,False,False,False

In [ ]:
df.to_csv("data/csv/title_genres_v2.csv")